<div id="footer" class="panel">
  <div class="panel-footer bg-color">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-8">

		  <p class="gray"><img src="{{ site.url }}{{ site.baseurl }}/images/logo/ritual_logo_hd.png" alt="Logo" height="70px" class="footer-icon">
          copyrights &copy 2024</p>

              <p class="gray">We are part of the <a href="https://mbzuai.ac.ae/research/department/natural-language-processing-department/" target="_blank"><u>Department of Natural Language Processing</u></a> at the <a  href="https://mbzuai.ac.ae/" target="_blank"><u>Mohamed bin Zayed University of Artificial Intelligence (MBZUAI)</u></a>.</p>

		</div>

		<div class="col-sm-4">
			<h5><b class="gray">Find us:</b></h5>
			 <p class="gray">Mohamed bin Zayed University of<br />
			 Artificial Intelligence Masdar<br />
			 City, Abu Dhabi <br />
            <a href="https://mbzuai.ac.ae/page-sitemap.xml" target="_blank" ><u>(Site map, </u></a><a href="https://www.google.com/maps/place/24%C2%B025'57.4%22N+54%C2%B037'07.3%22E/@24.4329463,54.6162667,3936m/data=!3m1!1e3!4m4!3m3!8m2!3d24.4326111!4d54.6186944?entry=ttu" target="_blank"><u>Google map)</u></a></p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
